.project
.settings
.classpath
target
alf_data_dev
repo/.xml/
*~
/reset.sh
repo/src/test/resources/test-offsprings/*

# Ignoring backup files that mergetool meld creates
*.LOCAL.*
*.BASE.*
*.BACKUP.*
*.REMOTE.*
*.orig
